.advantages {
  .set-font-style (@fz-advantages-text; @lh-advantages-text);
}

.advantages__wrapper {
  margin: 0 auto 0 auto;
}

.advantages__item {
  margin: 2px 20px 20px 4px;
  min-height: 60px;
  background-repeat: no-repeat;
  background-position: left top;

  &:last-child {
    margin: 0 0 0 0;
  }
}
