@media (max-width: @mobile-width) {
  .navigation {
    display: grid;
    background-color: @contrast-color;
  }
}

.navigation__toggle {
  display: none;
}

@media (max-width: @mobile-width) {
  .navigation__toggle {
    display: block;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 16px;
    position: relative;
    justify-self: end;
    border-width: 0;
    background: transparent;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 24px;
      height: 1.5px;
      background: @main-color;
      transition: all 0.3s ease-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      top: 100%;
      transform: translateY(-50%);
    }

    &--open {
      &::before {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }

      &::after {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
      }

      .navigation__burger-line {
        display: none;
      }

      +* .navigation__list {
        display: block;
      }
    }
  }

  .navigation__burger-line {
    width: 24px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: @main-color;
  }
}

.navigation__list {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  list-style: none;
}

@media (max-width: @mobile-width) {
  .navigation__list {
    display: none;
  }
}

.navigation__item {
  border-bottom: 1px solid @basic-grey-2;
}

@media (max-width: @mobile-width) {
  .navigation__item {
    text-align: center;
  }
}

.navigation__link {
  .set-font-style(@fz-menu; @lh-menu; 500);
  font-family: inherit;
  text-transform: uppercase;
  color: inherit;
}
