.owner-contacts__value {
  box-sizing: border-box;

  &--email {
    min-width: 219px;
  }

  &--email::placeholder {
    background-image: url("../../img/owner-contact/icon-email.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }

  &--phone {
    min-width: 204px;
  }

  &--phone::placeholder {
    background-image: url("../../img/owner-contact/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }
}
