.subtitle {
  margin: 0 0 0 0;
  .set-font-style (@fz-subtitle; @lh-subtitle; "Oswald");
  text-transform: uppercase;

  &--footer {
    .set-font-style (@fz-footer-subtitle; @lh-footer-subtitle; "Oswald");
  }

  &--catalog {
    .set-font-style (@fz-catalog-subtitle; @fz-catalog-subtitle; "Oswald");
    color: @special-dark-grey-2;
  }

  &--catalog-extra {
    .set-font-style ( @fz-catalog-subtitle-extra; @fz-catalog-subtitle-extra; "Oswald";);
    color: @special-dark-grey-2;
  }
}
