// Academy logo

.academy-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include set-font-style(var(--fz-footer-promo-text), var(--lh-footer-promo-text));

  &:hover > .academy-logo__icon {
    fill: var(--cl-fill-footer-icon-hover);
  }

  &:active > .academy-logo__text,
  &:active > .academy-logo__icon {
    opacity: 0.3;
  }
}

// Icon

.academy-logo__icon {
  fill: var(--cl-fill-footer-icon);
  transition: all 0.3s ease-out;
}
