/* Legend */

.add-info__legend {
  margin-bottom: 34px;
}

/* ---Container--- */

.add-info__container {
  @media (min-width: $tablet-width) {
    margin-top: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
    margin-left: -16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/* ---Item--- */

.add-info__item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 16px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    flex: 0 0 284px;
  }
}

/* =Checkbox= */

/* Box */

.add-info__box {
  margin-right: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $special-grey;
}

/* Check sign */

.add-info__check {
  display: none;
  stroke: $basic-green;
  stroke-width: 2px;
}

.add-info__checkbox {
  &:hover {
    + .add-info__box {
      border-color: $special-grey-2;
    }
  }

  &:disabled {
    + .add-info__box {
      border-color: $special-grey-2-03;
    }

    ~ .add-info__property {
      color: $main-color03;
    }
  }

  &:checked {
    + * .add-info__check {
      display: block;
    }
  }

  &:checked:hover {
    + .add-info__box {
      border-color: $special-grey-2;
    }
  }

  &:checked:disabled {
    + * .add-info__check {
      stroke: $basic-green03;
    }

    + .add-info__box {
      border-color: $special-grey-2-03;
    }

    ~ .add-info__property {
      color: $main-color03;
    }
  }
}
