/* Address */

.address {
  background-color: $contrast-color;
  color: $special-dark-grey;
}

/* Header */

.address__header {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

/* Subtitle */

.address__subtitle {
  margin-right: 10px;

  @include set-font-style (var(--fz-footer-subtitle), var(--lh-footer-subtitle),"Oswald");
}

/* Text */

.address__text {
  @include set-font-style (var(--fz-address-text), var(--lh-address-text));
  font-style: normal;
}

/* Map */

.address__map-block {
  position: relative;
  height: $mobile-map-hight;
}

.address__map {
  min-width: 100%;
  min-height: 100%;
  border: none;
}

/* Pin */

.address__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
