/* ===Advantages=== */

.advantages {
  color: $special-dark-grey;
}

/* Title */

.advantages__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

/* ---List--- */

.advantages__list {
  @media (min-width: $tablet-width) {
    margin-right: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    margin-right: -40px;
  }
}

/* -Item- */

.advantages__item {
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-right: 109px;
    margin-bottom: 37px;
    margin-left: 30px;
    min-height: 280px;
    flex: 0 1 245px;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 1fr;
    position: relative;

    &::before {
      content: attr(data-number);
      width: auto;
      height: var(--fz-advantages-number);
      position: absolute;
      top: 0;
      left: 73%;
      transform: translateX(-50%);
      z-index: -1;

      @include set-font-style(var(--fz-advantages-number), var(--lh-advantages-number), "Oswald");
      color: $basic-grey;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 35px;
    margin-bottom: 13px;
    margin-left: 40px;
    flex: 0 1 250px;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
  }
}

/* -Image block- */

.advantages__image-block {
  margin-right: 20px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 60px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
  }
}

/* -Text block- */

.advantages__text-block {
  padding-top: 2px;
  padding-bottom: 2px;
  flex: 1 1 auto;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

/* Text */

.advantages__text {
  margin-bottom: 5px;
  align-self: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    align-self: start;
  }
}
