//Body
.body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @include set-font-style(var(--fz-main), var(--lh-main));
  background-color: var(--cl-bg-page);
  color: var(--cl-txt-main);
}

//Common
//Header

.body__header {
  grid-row: 1/2;
  grid-column: 1/2;
}

//Main

.body__main {
  grid-row: 2/3;
  grid-column: 1/2;
}

//Footer

.body__footer {
  grid-row: 3/4;
  grid-column: 1/2;
}

//Catalog.html
//Header

.body__header--catalog {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

//Form.html
//Header

.body__header--form {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}
