.br{
  display: block;
}

.br--mobile-only {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.br--desktop-only {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.br--tablet-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
