.br--mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.br--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.br--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
