.button {
  display: block;
  box-sizing: border-box;
  @include set-font-style ($fz-button, $lh-button, "Oswald");
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background: $basic-green;
  color: $contrast-color;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: $contrast-color03;
  }
}
