.button {
  display: block;
  box-sizing: border-box;

  @include set-font-style (var(--fz-button), var(--lh-button), "Oswald");
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $contrast-color;
  border: none;
  background: $basic-green;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: $contrast-color03;
  }
}
