.catalog__item {
  border: 1px solid $basic-grey-2;
}

.catalog__button {
  padding: 10px;

  &--all {
    background-color: $basic-grey;
    color: $special-dark-grey;

    &:hover {
      background-color: $basic-grey-2;
    }

    &:active {
      background-color: $basic-grey-2;
      color: $special-dark-grey03;
    }
  }
}
