/* ===Catalog=== */

/* Title */

.catalog__title {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
  }
}

/* ---List--- */

.catalog__list {
  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-right: -30px;
    margin-bottom: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    margin-top: -40px;
    margin-right: -40px;
    margin-bottom: -40px;
    margin-left: -40px;
  }
}

/* -Item- */

.catalog__item {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 209px;

  &::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    z-index: -1;
    border-top: 1px solid $basic-grey-2;

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 84%;
      top: 100%;
      left: 50%;
      z-index: -1;
      background-color: $basic-grey;
      transform: translate(-50%, -100%);
      border: none;
    }

    &:last-child::before {
      border-bottom: 1px solid $basic-grey-2;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-right: 36px;
    padding-bottom: 40px;
    padding-left: 36px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    min-height: 511px;
    flex: 1 0 324px;

    &:last-child::before {
      background-color: transparent;
      border: 2px solid $basic-grey;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    flex: 1 0 245px;
  }
}

/* Link */

.catalog__link {
  margin-bottom: 20px;
  flex: 1 0 112px;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, 1fr);

  &--all {
    flex: 1 0 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

/* -Image block- */

.catalog__image-block {
  width: 140px;
  height: 112px;
  grid-row: 1/3;
  grid-column: 1/2;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &--all {
    margin-bottom: 23px;
    order: 1;

    @media (min-width: $tablet-width) {
      margin-top: 134px;
      margin-bottom: 49px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    width: 168px;
    height: 200px;
    order: 1;
  }
}

/* Subtitle */

.catalog__subtitle {
  margin-bottom: 18px;
  grid-row: 1/2;
  grid-column: 2/3;

  @include set-font-style(var(--fz-catalog-subtitle), var(--lh-catalog-subtitle), "Oswald");
  color: $special-dark-grey-2;

  &--all {
    margin-bottom: 23px;
    order: 2;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    order: 2;
    text-align: center;
  }
}

/* Table */

.catalog__table {
  grid-row: 2/3;
  grid-column: 2/3;

  @media (min-width: $tablet-width) {
    order: 3;
  }
}

/* ---All--- */

/* -Text block- */

.catalog__text-block {
  &--all {
    margin-bottom: 21px;
    order: 3;
  }
}

/* Text */

.catalog__text {
  margin-bottom: 5px;
  text-align: center;

  @include set-font-style(var(--fz-catalog-table), var(--lh-catalog-table));

  &:last-child {
    margin-bottom: 0;
  }
}

/* Button */

.catalog__button {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  &--all {
    background-color: $basic-grey;
    color: $special-dark-grey;

    &:hover {
      background-color: $basic-grey-2;
    }

    &:active {
      background-color: $basic-grey-2;
      color: $special-dark-grey03;
    }
  }
}
