/* Comment */

/* Legend */

.comment__legend {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

/* Value */

.comment__value {
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  resize: none;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 10px;
    min-height: 175px;
  }
}
