/* Example */

.example {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: $basic-grey;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      height: 70%;
    }
  }
}

/* Wrapper */

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: min-content;
    grid-template-columns: 1fr auto;
  }
}

/* Header */
.example__header {
  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

/* Title */

.example__title {
  padding: 25px 0 0 0;
  margin-bottom: 33px;
}

/* Text */

.example__text-block {
  margin-bottom: 25px;
}

.example__text {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* List */

.example__list {
  margin-right: -15px;
  margin-left: -15px;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
}

/* Item */

.example__item {
  padding: 14px 14px 17px 14px;
  margin-right: 15px;
  margin-bottom: 24px;
  margin-left: 15px;
  box-sizing: border-box;
  flex: 1 0 124px;
  position: relative;
  border: 1px solid $special-grey;
  border-radius: 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex: 0 0 162px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
  }
}

/* Progress */

.example__progress {
  @include set-font-style(var(--fz-example-progress), var(--lh-example-progress), "Oswald");
  text-transform: uppercase;
}

/* Description */

.example__description {
  padding: 3px 8px;
  margin: 0;
  box-sizing: border-box;
  width: calc(100% - 36px);
  position: absolute;
  bottom: var(--fz-example-description);
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 100%);

  @include set-font-style(var(--fz-example-description), var(--lh-example-description));
  background-color: $basic-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 3px 3px;
    width: calc(100% - 20px);
    background-color: $contrast-color;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

/* Legend */

.example__legend {
  @include set-font-style(var(--fz-example-legend), var(--lh-example-legend), "Oswald");
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

/* Slider */

.example__slider {
  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
