/* Example */

.example {
  background-color: $basic-grey;
}

.example {
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

/* Title */

.example__title {
  margin-bottom: 33px;
}

/* Text */

.example__text-block {
  margin-bottom: 25px;
}

.example__text {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* List */

.example__list {
  margin-bottom: 34px;
  display: flex;
}

/* Item */

.example__item {
  padding: 14px 14px 17px 14px;
  margin-bottom: 24px;
  box-sizing: border-box;
  flex: 0 0 124px;
  position: relative;
  border: 1px solid $special-grey;
  border-radius: 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex: 0 0 162px;
  }
}

/* Progress */

.example__progress {
  @include set-font-style (var(--fz-example-progress), var(--lh-example-progress), "Oswald");
  text-transform: uppercase;
}

/* Description */

.example__description {
  padding: 3px 14px;
  margin: 0;
  box-sizing: border-box;
  width: 84px;
  position: absolute;
  bottom: var(--fz-example-description);
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 100%);

  @include set-font-style (var(--fz-example-description), var(--lh-example-description));
  background-color: $basic-grey;
}

/* Legend */

.example__legend {
  @include set-font-style (var(--fz-example-legend), var(--lh-example-legend), "Oswald");
  text-transform: uppercase;
  text-align: center;
}
