/* Title */
.extra-products__title {
  margin-bottom: 36px;

  @include set-font-style(var(--fz-catalog-title), var(--lh-catalog-title), "Oswald");
}

/* Item */

.extra-products__item {
  padding-top: 13px;
  padding-bottom: 18px;
  min-height: 129px;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;
    grid-template-rows: 1fr min-content;
    grid-template-columns: repeat (2, 1fr);
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid $special-grey;
  }

  &:last-child::before {
    border-bottom: 1px solid $special-grey;
  }
}

/* Subitle */
.extra-products__subtitle {
  margin-bottom: 13px;
  grid-row: 1/2;
  grid-column: 1/2;

  @include set-font-style(var(--fz-catalog-subtitle-extra), var(--fz-catalog-subtitle-extra), "Oswald");
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

/* Table */
.extra-products__table {
  margin-bottom: 15px;
  grid-row: 2/3;
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
    align-self: start;
  }
}

/* Button */

.extra-products__button {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: auto;
  grid-row: 3/4;
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
