/* Footer */

.footer {
  background-color: $basic-grey;
}

/* Subtitle */

.footer__subtitle {
  @include set-font-style (var(--fz-footer-subtitle), var(--lh-footer-subtitle), "Oswald");
  color: $special-dark-grey-2;
}

/* Logo */

.footer__logo {
  text-align: center;
}

/* Promo text */

.footer__promo-text {
  @include set-font-style (var(--fz-footer-promo-text), var(--lh-footer-promo-text));
}
