// Input clear

.input {
  box-sizing: border-box;
  transition: all 0.3s ease-out;

  @include set-font-style(var(--fz-form-item-text), var(--lh-form-item-text), "Oswald");
  text-transform: uppercase;

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:valid {
    border: 1px solid var(--cl-brd-main-frame);
  }

  &:hover {
    border-color: var(--cl-brd-form-input-hover);
    box-shadow: 0 0 0 1px var(--cl-brd-form-input-hover) inset;
  }

  &:focus {
    outline: none;
    border-color: var(--cl-brd-form-input-active);
    box-shadow: 0 0 0 1px var(--cl-brd-form-input-active);
  }
}

.input:invalid {
  border-color: var(--cl-brd-form-error);
  box-shadow: 0 0 0 1px var(--cl-brd-form-error);
}
