.input {
  box-sizing: border-box;
  border: 1px solid $special-grey;

  @include set-font-style(var(--fz-form-item-text), var(--lh-form-item-text), "Oswald");
  text-transform: uppercase;

  &::placeholder {
    opacity: 1;
    color: $special-dark-grey;
  }

  &:hover {
    border-color: $special-grey-2;
  }

  &:focus {
    outline: none;
    border-color: $special-dark-grey;
  }

  &:not(:placeholder-shown):not(:focus):invalid {
    border-color: $status-error;
  }
}
