.legend {
  @include set-font-style(var(--fz-legend), var(--lh-legend), "Oswald");
  text-transform: none;
  color: $main-color;
}

.legend__text {
  padding-right: 19px;
  display: inline-block;
  height: 100%;
  background-color: $contrast-color;

  @media (min-width: $tablet-width) {
    padding-right: 39px;
  }
}
