/* Logo */

.logo {
  display: grid;
  grid-template-columns: min-content auto 24px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: min-content auto;
    column-gap: 12px;
  }

  &:hover {
    > .logo__img {
      opacity: 0.8;
    }
  }

  &:active {
    > .logo__img {
      opacity: 0.6;
    }
  }
}

/* Logo image*/

.logo__img {
  grid-column: 1/2;
  grid-row: 1/2;
}

/* Logo text*/

.logo__text {
  justify-self: center;
  grid-column: 2/3;
}
