/* ===Logo=== */

.logo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  background-color: $contrast-color;

  &:hover {
    > .logo__img,
    > .logo__text {
      opacity: 0.8;
    }
  }

  &:active {
    > .logo__img,
    > .logo__text {
      opacity: 0.6;
    }
  }

  @media (min-width: $tablet-width) {
    column-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 14px;
  }
}

/* Logo image*/

.logo__img {
  grid-row: 1/2;
  grid-column: 1/2;
}

/* Logo text*/

.logo__text {
  justify-self: center;
  align-self: center;
  grid-row: 1/2;
  grid-column: 2/3;
}
