//Cover

.main-index__cover {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

//Programs

.main-index__programs {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

//Advantages

.main-index__advantages {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

//Example

.main-index__example {
  margin-bottom: 0;
}
