//Catalog

.main-catalog__catalog {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

//Catalog title

.main-catalog__catalog-title {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

//Catalog extra products

.main-catalog__extra-products {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}
