// Navigation

.navigation {
  display: grid;
  position: relative;
  grid-row: 1/3;
  grid-column: 1/4;
  z-index: 5;

  @include set-font-style(var(--fz-menu), var(--lh-menu), "Oswald", 500);

  @media (min-width: $tablet-width) {
    flex: 1 1 auto;
    background-color: transparent;

    @include set-font-style(var(--fz-menu), var(--lh-menu), "Oswald", 400);
  }

  @media (min-width: $desktop-width) {
    max-width: 610px;
  }
}

// List

.navigation__list {
  box-sizing: border-box;
  flex-direction: column;
  background-color: var(--cl-bg-menu);

  @media (min-width: $tablet-width) {
    margin-right: -18px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    margin-right: -17px;
  }
}

// Item

.navigation__item {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  text-align: center;

  &::before {
    @include border-top(var(--cl-brd-main-frame), -20px, -20px);
    z-index: -1;
  }

  &:last-child::before {
    @include border-bottom(var(--cl-brd-main-frame), -20px, -20px);
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }

    &:last-child::before {
      display: none;
    }
  }
}

// Link

.navigation__link {
  padding: 22px;
  z-index: 2;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
  transition: all 0.3s ease-out;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 16px 18px 18px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 17px;
    padding-left: 17px;
  }
}

// Current link

.navigation__link--current {
  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      width: calc(-36px + 100%);
      height: 2px;
      position: absolute;
      left: 50%;
      bottom: 7px;
      transform: translateX(-50%);
      background-color: var(--cl-brd-menu-link);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      bottom: 10px;
    }
  }
}

// Index link

.navigation__link--index {
  @media (min-width: $desktop-width) {
    color: var(--cl-txt-menu-desktop-index);

    &.navigation__link--current {
      &::before {
        background-color: var(--cl-brd-menu-desktop-index);
      }
    }
  }
}

// Burger

.navigation__toggle {
  width: 24px;
  height: 17px;
  position: relative;
  z-index: 21;
  justify-self: end;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

// Burger closed

.navigation--closed .navigation__toggle {
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--cl-bg-burger);
    box-shadow: 0 8px 0 var(--cl-bg-burger), 0 16px 0 var(--cl-bg-burger);
    transition: all 0.3s ease-out;
  }
}

.navigation--closed .navigation__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

// Burger opened

.navigation--opened .navigation__toggle {
  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--cl-bg-burger);
    transition: all 0.3s ease-out;
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.navigation--opened .navigation__list {
  @media (max-width: $mobile-width-only) {
    display: block;
    box-sizing: border-box;
    width: calc(40px + 100%);
    position: absolute;
    top: 66px;
    left: -20px;
    z-index: 20;
  }
}

.navigation--opened .navigation__item {
  &::before {
    @media (max-width: $mobile-width-only) {
      box-sizing: border-box;
      width: 100%;
      left: 0;
    }
  }
}

// Burger no JS

.navigation--nojs .navigation__toggle {
  display: none;
}

.navigation--nojs .navigation__list {
  @media (max-width: $mobile-width-only) {
    margin-top: 66px;
    display: block;
    position: static;
    min-height: 0;
  }
}
