/* Navigation */

.navigation {
  display: grid;

  @include set-font-style(var(--fz-menu), var(--lh-menu), "Oswald", 500);
  background-color: $contrast-color;
}

/* Wrapper */

/* Burger*/

.navigation__toggle {
  display: block;
  margin: 0;
  width: 24px;
  height: 16px;
  position: relative;
  justify-self: end;
  border-width: 0;
  background: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    width: 24px;
    height: 1.5px;
    position: absolute;
    left: 0;
    background: $main-color;
    transition: all 0.3s ease-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 100%;
    transform: translateY(-50%);
  }

  @media (max-width: -1 + $tablet-width) {
    &--open {
      &::before {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }

      &::after {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
      }

      .navigation__burger-line {
        display: none;
      }

      + * .navigation__list {
        display: block;
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__burger-line {
  display: block;
  width: 24px;
  height: 1.5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: $main-color;
}

/* List */

.navigation__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

/* Item */

.navigation__item {
  border-top: 1px solid $basic-grey-2;
  border-bottom: 1px solid $basic-grey-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 17px 0 17px;
    border: none;
  }

  &--current {
    @media (min-width: $tablet-width) {
      .navigation__link {
        border-bottom: 2px solid $basic-green;
      }
    }
  }
}

/* Link */

.navigation__link {
  padding: 22px 22px 22px 22px;
  text-transform: uppercase;
  color: inherit;
  transition: color 0.3s ease-out;

  &:hover {
    color: $main-color06;
  }

  &:active {
    color: $main-color03;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 0 10px 0;
  }
}
