/* Page */

.page {
  width: 100%;
  height: 100%;
}

/* Body */

.page__body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  @include set-font-style (var(--fz-main), var(--lh-main));
  color: $main-color;
  background-color: $contrast-color;
  min-width: $mobile-width;
}
