// ---Global page---

.page {
  width: 100%;
  height: 100%;
}

// ---Body---

.page__body {
  padding: 0;
  margin: 0;
  min-width: $mobile-width;
  height: 100%;
}



// ===Blank.html===

// ---Blank header---

.page__header-blank {
  margin-bottom: 30px;
}

// Blank Title

.page__blank-title {
  margin-bottom: 30px;
}

// ---Blank product card---

.page__product-card {
  margin-bottom: 30px;
}
