/* -Item- */

.person-data__item {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Value */

.person-data__value {
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 14px;
  flex: 1 1 auto;
  order: 2;

  @include set-font-style(var(--fz-form-item-text), var(--lh-form-item-text), "Oswald");
  text-transform: uppercase;
  color: $special-dark-grey;
}

/* Property */

.person-data__property {
  margin-right: 15px;
  flex: 0 0 auto;
  order: 1;
}
