/* ===Program choice=== */

.program-choice {
  position: relative;

  &::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;
    border-top: 1px solid $special-grey;
    border-bottom: 1px solid $special-grey;

    @media (min-width: $tablet-width) {
      right: 0;
      left: 0;
      border: 1px solid $special-grey;
    }
  }
}

/* -Item- */

.program-choice__item {
  margin-bottom: 13px;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }
}

/* Radio button */

.program-choice__property {
  --box-size: 30px;
  --inner-box-size: 14px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 46px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    width: var(--box-size);
    height: var(--box-size);
    left: 0;
    border: 1px solid $special-grey;
  }

  &::after {
    display: none;
    width: var(--inner-box-size);
    height: var(--inner-box-size);
    top: 50%;
    left: calc(var(--box-size) / 2);
    transform: translate(-50%, -50%);
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    --box-size: 40px;
    --inner-box-size: 18px;
    padding-left: 59px;
  }
}

.program-choice__radio-button {
  &:hover + .program-choice__property::before {
    border-color: $special-grey-2;
  }

  &:disabled + .program-choice__property {
    opacity: 0.3;
  }

  &:checked + .program-choice__property::after {
    display: block;
  }

  &:checked:hover + .program-choice__property::before {
    border-color: $special-grey-2;
  }

  &:checked:disabled + .program-choice__property {
    opacity: 0.3;
  }

  &:checked:disabled + .program-choice__property::after {
    display: block;
  }
}
