/* ===Program choice=== */

.program-choice {
  padding-top: 23px;
  padding-bottom: 19px;
  position: relative;

  &::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;
    border-top: 1px solid $special-grey;
    border-bottom: 1px solid $special-grey;

    @media (min-width: $tablet-width) {
      right: 0;
      left: 0;
      border: 1px solid $special-grey;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-right: 27px;
    padding-bottom: 25px;
    padding-left: 27px;
  }
}

/* -Item- */

.program-choice__item {
  margin-bottom: 13px;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Radio button */

.program-choice__property {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 46px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    width: 30px;
    height: 30px;
    left: 0;
    border: 1px solid $special-grey;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    display: none;
    width: 14px;
    height: 14px;
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      left: 20px;
    }
  }
}

.program-choice__radio-button {
  &:hover {
    + .program-choice__property::before {
      border-color: $special-grey-2;
    }
  }

  &:disabled {
    + .program-choice__property {
      color: $main-color03;
    }

    + .program-choice__property::before {
      border-color: $special-grey-2-03;
    }
  }

  &:checked {
    + .program-choice__property::after {
      display: block;
    }
  }

  &:checked:hover {
    + .program-choice__property::before {
      border-color: $special-grey-2;
    }
  }

  &:checked:disabled {
    + .program-choice__property::before {
      border-color: $special-grey-2-03;
    }

    + .program-choice__property::after {
      display: block;
      background-color: $basic-green03;
    }

    + .program-choice__property {
      color: $main-color03;
    }
  }
}
