/* Button */

.program-button {
  position: relative;

  @include set-font-style(var(--fz-program-button), var(--lh-program-button), "Oswald");
  text-transform: uppercase;
  color: $main-color;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    background-color: $main-color;
  }

  &::before {
    width: 17px;
    height: 2px;
    left: calc(100% + 12px);
    transform: translateY(-50%);
    transition: width 0.3s ease-out;
  }

  &::after {
    width: 0;
    height: 0;
    left: calc(100% + 29px);
    transform: translateY(-50%) scale(1, 0.7);
    border: 7px solid $main-color;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
    transition: left 0.3s ease-out;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: calc(100% + 25px);
    }

    &::after {
      left: calc(100% + 42px);
    }

    &:hover::before {
      width: 25px;
    }

    &:hover::after {
      left: calc(100% + 50px);
    }
  }

  &:active {
    color: $main-color03;

    &::before {
      background-color: $main-color03;
    }

    &::after {
      border-left-color: $main-color03;
    }
  }
}
