// Promo

.promo {
  color: var(--cl-txt-catalog-promo);
  text-align: center;
}

// Promo wrapper

.promo__wrapper {
  padding-top: 65px;
  padding-right: 58px;
  padding-bottom: 43px;
  padding-left: 58px;
  box-sizing: border-box;
  width: 100%;
  min-height: 289px;
  background-image: url("../../img/promo/gift-photo.jpg");
  background-color: var(--cl-bg-catalog-promo);
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/promo/gift-photo@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 32px;
    box-sizing: border-box;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../img/promo/gift-photo-tablet.jpg");
    background-position: center 67%;
    text-align: left;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/promo/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
    box-sizing: border-box;
    min-height: 100%;
    display: block;
    background-image: url("../../img/promo/gift-photo-desktop.jpg");
    object-fit: contain;
    text-align: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/promo/gift-photo-desktop@2x.png");
    }
  }
}

// Image-block

.promo__image-block {
  margin-right: auto;
  margin-bottom: 62px;
  margin-left: auto;
  width: 57px;
  height: 61px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 58px;
    height: 63px;
    flex: 0 0 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
  }
}

// Icon

.promo__icon {
  width: 57px;
  height: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    width: 58px;
  }
}

// Text block

.promo__text-block {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-right: 85px;
    padding-left: 45px;
    flex: 0 0 300px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

// Text

.promo__text {
  margin-bottom: 5px;

  @include set-font-style(var(--fz-catalog-promo), var(--lh-catalog-promo));

  &:last-child {
    margin-bottom: 0;
  }
}
