.promo__wrapper {
  background-image: url("../../img/promo/gift-photo.jpg");
  background-color: $basic-green;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
