// Question form

.question-form {
  @include set-font-style(var(--fz-form-item-text), var(--lh-form-item-text), "Oswald");
  color: $special-dark-grey;
  text-transform: uppercase;
}

// Legend

.question-form__legend {
  margin-bottom: 38px;

  @include set-font-style(var(--fz-form-main-legend), var(--lh-form-main-legend), "Oswald");

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

// Question form top

.question-form__top {
  @media (min-width: $desktop-width) {
    margin-right: -40px;
    margin-bottom: 69px;
    margin-left: -40px;
    display: flex;
    justify-content: space-between;
  }
}

// Person data

.question-form__person-data {
  margin-bottom: 23px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
    margin-bottom: 0;
    margin-left: 40px;
    flex: 0 0 570px;
  }
}

// Program choice

.question-form__program-choice {
  padding-top: 23px;
  padding-bottom: 19px;
  margin-bottom: 26px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-right: 27px;
    padding-bottom: 24px;
    padding-left: 29px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
    margin-bottom: 0;
    margin-left: 40px;
    flex: 1 1 570px;
  }
}

// Owner contacts

.question-form__owner-contacts {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

// Comment

.question-form__comment {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

// Add info

.question-form__add-info {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}

// Question form wrapper

.question-form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

// Button

.question-form__button {
  padding-top: 11px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;
  margin-bottom: 21px;
  width: 100%;

  @include set-font-style(var(--fz-form-button), var(--lh-form-button), "Oswald", 400);

  @media (min-width: $tablet-width) {
    padding-top: 16px;
    padding-right: 14px;
    padding-bottom: 15px;
    padding-left: 14px;
    margin-bottom: 0;
    flex: 0 0 282px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 568px;
  }
}

// Note

.question-form__note {
  display: block;
  width: 100%;

  @include set-font-style(var(--fz-form-legend), var(--lh-form-legend));
  text-align: center;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding-top: 6px;
    padding-bottom: 9px;
    margin-left: 62px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 83px;
  }
}

.question-form__req {
  vertical-align: baseline;
  font-size: inherit;
}
