/* ===Slider=== */

.slider {
  --slide-width: 280px;

  @media (min-width: $tablet-width) {
    --slide-width: 680px;
  }

  @media (min-width: $desktop-width) {
    --slide-width: 650px;
  }

  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: var(--slide-width);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---List--- */

.slider__list {
  display: flex;
  justify-content: flex-start;
}

/* -Item- */

.slider__item {
  height: auto;
  flex: 0 0 var(--slide-width);
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    overflow: hidden;
  }
}

/* Image */

.slider__img {
  width: 100%;
  height: auto;
}

/* =Control= */

.slider__control {
  display: flex;
  align-items: center;
}

/* Scale */

.slider__scale {
  width: 84px;
  height: 14px;
  position: relative;
  border: 1px solid $special-grey;
  border-radius: 7px;
  background-color: $contrast-color;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    position: relative;
    border: none;
    border-radius: 6px;
    background-color: $special-middle-grey;
  }
}

/* Cursor */

.slider__cursor {
  box-sizing: border-box;
  width: 35px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  border-radius: 3px;
  background-color: $basic-green;
  border: none;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 32px;

    @include absolute-center;
    border: 1px solid $special-grey;
    border-radius: 50%;
    background-color: $contrast-color;
    box-shadow: 0 1px 3px $main-color016;

    &::before {
      content: "";
      width: 8px;
      height: 8px;

      @include absolute-center;
      border-radius: 50%;
      background-color: $basic-green;
    }

    &:hover {
      box-shadow: 0 2px 4px $main-color016;
    }

    &:active {
      border-color: $basic-green;
    }
  }
}

/* Slider button */

.slider__button {
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
  position: relative;
  cursor: pointer;
  border: none;

  @include set-font-style(var(--fz-slider-button), var(--lh-slider-button), "Oswald");
  text-transform: uppercase;
  text-align: center;
  background: transparent;

  &::before {
    content: "";
    width: calc(100% - 34px);
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 7px;
    transform: translateX(-50%);
    border: none;
    border-bottom: 1px dotted $main-color04;
  }

  &:hover::before {
    border-bottom-style: solid;
  }

  &:active::before {
    border-bottom: none;
  }
}

/* Action init*/

.slider--init .slider__list {
  @media (min-width: $tablet-width) {
    transform: translateX(-50%);
  }
}

.slider--init .slider__img--before {
  @media (min-width: $tablet-width) {
    transform: translate(55%, -15px);
    transition: transform 0.3s ease-out;
  }

  @media (min-width: $desktop-width) {
    transform: translate(49%, -13px);
    transition: transform 0.3s ease-out;
  }
}

.slider--init .slider__img--after {
  @media (min-width: $tablet-width) {
    transform: translateX(-49.5%);
    transition: transform 0.3s ease-out;
  }
}

/* Action before*/

.slider--before .slider__list {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.slider--before .slider__img--before {
  @media (min-width: $tablet-width) {
    transform: translate(0, -15px);
    transition: transform 0.3s ease-out;
  }

  @media (min-width: $desktop-width) {
    transform: translate(0, -15px);
    transition: transform 0.3s ease-out;
  }
}

.slider--before .slider__cursor {
  transform: translate(0, -50%);
  transition: transform 0.3s ease-out;

  @media (min-width: $tablet-width) {
    left: 0;
    transition: transform 0.3s ease-out;
  }
}

/* Action after*/

.slider--after .slider__list {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.slider--after .slider__cursor {
  transform: translate(100%, -50%);
  transition: transform 0.3s ease-out;

  @media (min-width: $tablet-width) {
    left: 100%;
    transform: translate(-100%, -50%);
    transition: transform 0.3s ease-out;
  }
}

.slider--after .slider__img--after {
  @media (min-width: $tablet-width) {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
}
