/* Subtitle */

.subtitle {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  @include set-font-style (var(--fz-subtitle), var(--lh-subtitle), "Oswald");
  color: $main-color;
  text-transform: uppercase;
}
