.subtitle {
  margin: 0 0 0 0;
  @include set-font-style ($fz-subtitle, $lh-subtitle, "Oswald");
  text-transform: uppercase;
  color: $main-color;

  &--catalog {
    @include set-font-style ($fz-catalog-subtitle, $fz-catalog-subtitle, "Oswald");
    color: $special-dark-grey-2;
  }

  &--catalog-extra {
    @include set-font-style ($fz-catalog-subtitle-extra, $fz-catalog-subtitle-extra, "Oswald");
    color: $special-dark-grey-2;
  }
}
