// Table

.table-property {
  min-width: 140px;
  border-collapse: collapse;
  border-spacing: 0;

  @include set-font-style(var(--fz-catalog-table), var(--lh-catalog-table));
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

// Row

.table-property__row {
  @media (min-width: $tablet-width) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $special-grey;
  }
}

// Table property

.table-property__property {
  padding-top: 2px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

// Table value

.table-property__value {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: right;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

// Table exptra products

.table-property--extra {
  width: 100%;

  @include set-font-style(var(--fz-catalog-table-extra), var(--lh-catalog-table-extra));

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

// Property

.table-property__property--extra {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 7px;
    text-align: left;
  }
}

// Table value

.table-property__value--extra {
  @media (min-width: $tablet-width) {
    width: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 7px;
    width: 90px;
  }
}
