@main-color:rgb(0, 0, 0);
@main-color06:rgba(0, 0, 0, 0.6);
@main-color03:rgba(0, 0, 0, 0.3);
@contrast-color: rgb(255, 255, 255);
@contrast-color03: rgba(255, 255, 255, 0.3);
@basic-green: rgb(104, 183, 56);
@basic-green03: rgba(104, 183, 56, 0.3);
@basic-green-2: rgb(94, 170, 47);
@basic-green085: rgba(104, 183, 56, 0.85);
@basic-grey: rgb(242, 242, 242);
@basic-grey-2: rgb(235, 235, 235);
@special-grey: rgb(205, 205, 205);
@special-grey-2: rgb(186, 186, 186);
@special-grey-2-03: rgba(186, 186, 186, 0.3);
@special-grey-3: rgb(102, 102, 102);
@special-middle-grey: rgb(217, 217, 217);
@special-dark-grey: rgb(68, 68, 68);
@special-dark-grey03: rgba(68, 68, 68, 0.3);
@special-dark-grey-2: rgb(34, 34, 34);
@status-error: rgb(255, 130, 130);
